:root{
    --header:#C0C0C0;
    --body:#EEEEEE;
    --text:#2c2a2a;
    --title:#1D2E41;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Helvetica Neue",Arial, Helvetica, sans-serif;
    color: var(--text);
    font-size: 62.5%;
    min-height: 100vh;
}

a{
    color: var(--text);
    text-decoration: none;
}

li{
    list-style: none;
    color: var(--text);
    
}